<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 包名.接口名-->
<mapper namespace="dao.OrderListDao">


    <resultMap id="product" type="OrderList">
        <id property="oid" column="oid" />
        <result property="pid" column="pid"/>
        <result property="pimage" column="pimage"/>
        <result property="pname" column="pname"/>
        <result property="count" column="count"/>
        <result property="shopPrice" column="shop_price"/>
        <result property="subtotal" column="subtotal"/>

    </resultMap>
    <!--根据uid查询信息，封装到OrderList对象里-->
    <select id="findOrderListByUid" parameterType="string" resultMap="product">
        SELECT
        o.oid,p.pid,p.pimage,p.pname,oi.count,p.shop_price,oi.subtotal
        from orders o,orderitem oi,user u, product p
        where  u.uid=#{uid} and u.uid=o.uid and o.oid=oi.oid and oi.pid=p.pid
    </select>
<!--
    &lt;!&ndash;查询订单项总数&ndash;&gt;
    <select id="getCount" parameterType="string" resultType="int">
         SELECT
       count(oi.itemid)
        from orders o,orderitem oi,user u, product p
        where  u.uid=#{uid} and u.uid=o.uid and o.oid=oi.oid and oi.pid=p.pid
    </select>-->
<!--查询订单数-->
    <select id="getCount" parameterType="string" resultType="int">
         SELECT
       count(o.oid)
        from orders o
        where  uid=#{uid}
    </select>

    <!--分页查询-->
    <select id="findOrderlistPage" parameterType="string" resultMap="orderList">
        SELECT o.oid,oi.itemid,oi.count,oi.subtotal,p.pid,p.pimage,p.pname,p.shop_price FROM (SELECT * from orders where uid=#{param1} limit #{param2},#{param3}) o,orderitem oi,product p WHERE o.oid=oi.oid and oi.pid=p.pid
    </select>

    <resultMap id="orderList" type="OrderList">
        <id property="oid" column="oid"/>
        <collection property="orderitemList" ofType="Orderitem">
            <id property="itemid" column="itemid"/>
            <result property="count" column="count"/>
            <result property="subtotal" column="subtotal"/>
            <association property="product" javaType="Product">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="marketPrice" column="market_price"/>
                <result property="shopPrice" column="shop_price"/>
                <result property="pimage" column="pimage"/>
            </association>
        </collection>
    </resultMap>

    <!--获取全部订单-->
    <select id="findOrderListAllByUid" parameterType="string" resultMap="product">
        SELECT
        o.oid,p.pid,p.pimage,p.pname,oi.count,oi.itemid, p.shop_price,oi.subtotal
        from orders o,orderitem oi,user u, product p
        where  u.uid=#{param1} and u.uid=o.uid and o.oid=oi.oid and oi.pid=p.pid
    </select>

</mapper>